<div class="container-header">
  <a (click)="navigateToUsers()">
    <div class="container-logo">
      <img src="./../../assets/images/logo.svg" alt="logo" />
    </div>
  </a>

  <div class="container-profile">
    <a (click)="navigateToProfile()">
      <div class="user-info">
        <img src="./../../assets/images/user.svg" alt="user" />
        <h2>Profile</h2>
      </div>
    </a>

    <button class="container-icon" type="button" (click)="openLogoutModal()">
      <lucide-icon [name]="logOut" [size]="30" class="my-icon"></lucide-icon>
    </button>
  </div>
</div>

<app-confirm
  #logoutModal
  [title]="'Confirm Logout'"
  [message]="'Are you sure you want to log out?'"
  [confirmText]="'Logout'"
  [cancelText]="'Cancel'"
  (confirmed)="confirmLogout()"
  (cancelled)="cancelLogout()">
</app-confirm>
