@import "../../../assets/scss/variables";

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  section {
    min-height: 100vh;
  }

  .main-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container-main {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        margin-top: 15px;
      }
    }
  }

  .form-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .main-section {
    width: 50%;
    gap: 8px;
    background-color: $gray-bg;

    img {
      width: 100%;
    }
  }

  .form-section {
    padding: 0 35px;
    width: 50%;
    margin-bottom: 20px;

    img {
      margin-top: 15px;
      margin-bottom: 30px;
    }

    h2 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 45px;
    }

    .btn-wrapper {
      display: flex;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 30px;

      .divider {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;

        font-size: 14px;
        color: $gray-bg;
        font-weight: 400;
        text-transform: uppercase;

        div {
          flex-grow: 1;
          height: 2px;
          background-color: $gray-bg;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .main-section {
      width: 40%;
    }

    .form-section {
      width: 60%;
    }
  }

  // Media query para dispositivos móveis
  @media (max-width: 768px) {
    .main-section {
      display: none;
    }

    .form-section {
      width: 100%;
    }
  }
}
